[2019-06-16 07:40] StatMixedML opened #1 "Simulated Data Image"
[XGBoostLSS_simdata.pdf](https://github.com/StatMixedML/XGBoostLSS/files/3293916/XGBoostLSS_simdata.pdf)

[2019-06-16 07:41] #1 closed

[2019-06-16 07:42] StatMixedML commented on #1
[XGBoostLSS_simdata.pdf](https://github.com/StatMixedML/XGBoostLSS/files/3293918/XGBoostLSS_simdata.pdf)

[2019-06-16 17:33] StatMixedML opened #2 "XGBoostLSS Readme Review"
@uday1889: May I ask you to check out the readme and to provide a feedback.

[2019-06-18 16:55] #2 closed

[2019-06-19 08:25] uday1889 commented on #2
Hi Alex,

I see you've closed this one. Nut just wanted to say that you would like all the details with the code to go into a vignette rather than on the Readme. Just summarizing the main results on the Readme with a couple of plots should be fine.

I'll review it nevertheless for my learning. Great work! :)

Best,
Uday

[2019-06-21 11:52] StatMixedML commented on #2
Hi Uday,

agree, all details should go into the vignette. But unless I have some more time to work on it + code, I`ll leave it in the readme for now.

Thanks,
Alex

[2019-07-16 00:31] houchangtao opened #3 "Cannot Find the Source Code"
Hi, this is a great library and I would like to tweak the source code to do my stuff, are you plan to share your source code?

[2019-07-17 09:05] StatMixedML commented on #3
Hi houchangtao,

thanks for the interest. Yes I am planning to share the code asap. However, as it is still very developmental and since I can only work on it during my spare time, it might take some time. Hope for your understanding

[2019-07-17 09:06] #3 closed

[2019-10-17 07:56] scottfleming commented on #3
Would love to use this package in my research! I've "watch"ed the repo and am looking forward to any updates. Do you have any indication of when it might be publicly available?

In particular, in the "Software Implementations" section of the ReadMe, it says, "In its current implementation, XGBoostLSS is available in R only".  But as far as I can tell it's actually not available in R - am I missing

[2019-10-24 18:20] scottfleming commented on #3
No worries at all! I totally get that you have other constraints on your time, and appreciate the great work you've done on this with whatever spare time you have. "Developmental" is totally fine from my perspective, I'm happy to be a guinea pig and help with debugging/PRs etc. where I can. Even if it's not a package published on CRAN, as long as it's installable via devtools I can work with whate

[2019-12-24 12:18] Diyago opened #4 "implement python version"

[2019-12-31 13:35] StatMixedML commented on #4
Good comment. However, I am currently working on migrating the package to the recently introduced mlr3 package

https://github.com/mlr-org/mlr3

So might take some time until XGBoostLSS is available in python. You might be interested in CatBoostLSS

https://github.com/StatMixedML/CatBoostLSS

which is very similar to XGBoostLSS, but using CatBoost as a base learner. Still very developmental and gi

[2019-12-31 13:36] #4 closed

[2020-02-29 10:37] fipoucat opened #5 "package install"
I am asking the procedure to install the package?, used install_github but did not work

[2020-03-01 15:37] StatMixedML commented on #5
it is because I am still working on getting it into a package, so there is no code yet pushed to the repo

[2020-03-01 15:37] #5 closed

[2020-03-17 13:09] Shafi2016 commented on #5
When is expected the availability of your package? Is it possible for you to upload your base codes for your work at this point? It will allow others to test your work too.

[2020-03-19 13:02] StatMixedML commented on #5
The thing is that I am still working on getting the package ready, i.e., implementing additional distributions, unit tests and proper documentation. As such, there is no code yet on the repo. I am planning to have it ready by mid-year. I can only work on it during my spare time, so progress is very slow.

[2020-03-19 13:28] Shafi2016 commented on #5
Thank you so much for the updates. All the best.

[2020-04-13 21:38] azev77 opened #6 "XGBoostLSS for Julia"
Hi,
your package & paper look really promising. I can't wait to test drive it.
The readme mentions a Julia implementation is planned, that would be amazing.

May I suggest, consider wrapping it in the interface [MLJ](https://github.com/alan-turing-institute/MLJ.jl).jl which already has several boosting & probabilistic forecasting options with more on the way...

[2020-05-11 06:39] StatMixedML commented on #6
@azev77 Sorry for the late(ish) reply and thanks for the suggestion.

Yes, I am planning to use the MLJ framework for implementing XGBoostLSS.

[2020-05-11 06:39] #6 closed

[2020-05-19 19:32] cdeterman commented on #4
Was this ultimately implemented in python or is the solution to just use the catboost version?

[2020-05-21 08:56] StatMixedML commented on #4
@cdeterman Thanks for your question, although I am not 100% sure what you are referring to. Can you please specify your question in more detail.

[2020-05-21 16:52] cdeterman commented on #4
I don't see anything further regarding the python implementation of xgboostlss, only a mention of catboostlss.  I would like to get the python version of xgboostlss.

[2020-05-21 19:06] cdeterman commented on #5
Any updates on installing the R package?  Would love to explore using this package.

[2020-05-22 09:00] StatMixedML commented on #4
The initial XGBoostLSS implementation was done in R. Once I have the problem of simultaneous parameter estimation across distributional parameter fixed, I will release the R-package. For Python, I am planning to combine both in a new library, where you can chose to fit a model using xgboost / catboost. But that still takes some time.

[2020-05-22 09:01] StatMixedML commented on #5
Kindly referring to https://github.com/StatMixedML/XGBoostLSS/issues/4#issuecomment-632582373.

[2020-06-10 12:35] antonyalexos opened #7 "code upload?"
Hello, I have read the paper and I have to say that it is some really great work. Is it possible to upload the code as other have asked for it? You have 87 stars and 14 forks without uploading the code. You could help a lot of people..

[2020-06-11 08:47] StatMixedML commented on #7
Thanks for your comment.

Currently, I am still working on getting the package ready. Once I have the problem of simultaneous parameter estimation across distributional parameters solved, I will release the R-package.

[2020-06-15 07:21] antonyalexos commented on #7
Isn't it a bit odd that you have completed the paper but not the code? Apart from that if an issue is not closed then you should close it. I mean uploading the code is still open for now.

[2020-06-15 16:44] StatMixedML commented on #7
The code on which the paper is based upon is complete in the sense that it replicates the results of the paper. However, as I state in the readme-file "_... the public release of the package is somewhat delayed_." I am planning to release the code once it satisfies sound coding and software development standards + easy to use. Also, I need to work on the problem of simultaneous parameter estimatio

[2020-06-24 12:46] hiyamgh commented on #7
Hello @StatMixedML Thank you for this awesome repository. Could you please notify us here in this thread when the code is released ?

[2020-07-06 09:58] StatMixedML opened #8 "Multi-parameter optimization with custom loss function for probabilistic forecasting"
# Description

Dear community,

I am currently working in a probabilistic extension of XGBoost that models all parameters of a distribution. This allows to create probabilistic forecasts from which prediction intervals and quantiles of interest can be derived.

The problem is that XGBoost doesn't permit do optimize over several parameters. Assume we have a Normal distribution y ~ N(µ, sigma). So f

[2020-07-06 16:13] ja-thomas commented on #8
I don't think this is really possible.

You get two gradient vectors that point in different direction (and potentially have a very different scale). In general you could scalarize them by a (random) convex combination in each iteration, but I have no idea how well this will work, or if the averages point in the right direction (probably not).

If you have a look how xgboost implements multiclass

[2020-07-06 16:51] StatMixedML commented on #8
@ja-thomas Thanks for your suggestions, really appreciated!

I recall having tried averaging the gradients some time back, but it didn't work well.

I guess you are referring to the paper [Gradient boosting for distributional regression: faster tuning and improved variable selection via noncyclical updates](https://www.slds.stat.uni-muenchen.de/bibrefs/pdfs/thomas-2017.pdf), where the outer loss i

[2020-07-06 17:46] StatMixedML commented on #8
Any thoughts on **incremental training** of XGBoost:

1. initialize distributional parameters theta_k, for k = 1, ..., K
2. For each k, m = 1, ..., M-Iterations
    2.1 Train m-iterations, e.g., m = 1, ..., 50
    2.2 Update each parameter with fitted values
    2.3 Train m-iterations, e.g., m = 50, ..., 100
    2.4 Update each parameter with fitted values
    ....

Each parameter would get update

[2020-07-06 18:01] ja-thomas commented on #8
Hi,

just to make sure I get you current approach right:
You fully train your model (for however many iterations / with early stopping ?) on the mu gradient/hessian keeping sigma fixed. Then plug in the final mu estimate as the constant new mu and fully train sigma. Then revert back to training mu and so on until convergence?

The incremental approach you just described does the same but only does

[2020-07-06 18:08] bryorsnef commented on #8
Just spit-balling here. (Really looking forward to trying this library when released). With boosting, you have a learning rate parameter. Is it possible to to have some fixed amount of "update" that gets split between the distributional parameters? I.e. Estimate mu, estimate sigma, then dynamically decide on how much shrinkage applies to each one? I guess that doesn't really solve the simultaneous

[2020-07-07 15:50] palexbg commented on #8
Hi Alex,

I am by no means anywhere near an expert as you in the field (still have to read that paper! ;) but I recently stumbled upon an alternative approach that aims to do the same.

https://arxiv.org/pdf/1910.03225.pdf

Would it maybe be of help?  At some point they talk about optimizing multiple parameters and handling it with generalized natural gradients (page 2, right column top)

[2020-07-07 16:15] StatMixedML commented on #8
Thanks everyone for the discussion so far!

@palexbg I know the NGBoost approach, but thanks for sharing anyways. I`d assume that the way XGBoost deals with the gradient/hessian vectors is different from NGBoost, so I am guess the architectures are different, implying that we cannot transfer the approach from NGBoost. But I am not sure, however. Might be worth exploring.

[2020-07-07 16:27] StatMixedML commented on #8
Of all what I have read so far, not only in this chat, but also when reading papers on XGBoost, I have a growing impression that I might need to change the way XGBoost is trained in order to incorporate K-gradient/hessian vectors, where K is the number of parameter of the distribution.

What do you think?

[2020-07-10 06:59] StatMixedML commented on #8
Looping in https://github.com/dmlc/xgboost/issues/5859 to the discussion.

[2020-08-12 21:01] t0504b commented on #8
Hi, Can you please tell what library to use in R, to run XGBoostLSS. Thanks!

[2020-08-12 21:02] t0504b commented on #7
Can you please tell what library to use in R, to run XGBoostLSS. Thanks!

[2020-08-15 08:14] StatMixedML commented on #8
@t0504b Referring to Issue https://github.com/StatMixedML/XGBoostLSS/issues/7

[2021-03-26 10:07] Afaf-Athar commented on #4
Hi, I am trying to install catboosLSS, It throw's this error, actually, I am trying to get a diagnostic plot from the catboost regression model. If anything else we have, can help me regarding plotting?
[code]

[2021-04-17 07:44] StatMixedML commented on #8
@ja-thomas

In fact, quite recently I managed to estimate all parameters of Normal distribution without cycling between mu and sigma, hence in a simultaneous estimation run. However, I am not sure if the estimation of, say mu, influences the estimation of sigma. Anyways, we now have a more elegant and efficient way of training. Hope to commit a very early version soon. Since it is based on python,

[2021-04-18 17:32] #8 closed

[2021-04-28 12:38] ivan-marroquin commented on #4
@StatMixedML

Thanks for such great package. I am hoping that you will have the opportunity to port this package to Python.

Ivan

[2021-08-03 22:55] wrkhard commented on #7
Hello @StatMixedML I saw that you have closed your issue with multi-param optimization and mentioned that a commit would be coming soon. Do you know when we may be able to access xgboostlss from CRAN? Very much looking forward to using this method in an upcoming paper!

[2021-08-09 14:03] StatMixedML commented on #7
@wrkhard Thanks for your interest.

I managed to get around the multi-parameter problem in Python, but still working on the release. So most likely, there will be no CRAN package since I haven't figured it out how to do it in R.

Maybe I can help you with applying XGBoostLSS to your specific needs if that is an option? Happy to, let me know.

[2021-11-14 15:49] StatMixedML commented on #7
Closing this with the release of version 0.1.0

[2021-11-16 14:20] kmedved commented on #7
Congratulations on the release of 0.1 @StatMixedML - eagerly testing.

[2021-11-16 20:50] StatMixedML commented on #7
@kmedved

Let me know in case you have a request on implementing a new distribution. Would be great to see it being used!

[2021-11-16 22:33] kmedved commented on #7
Well, I'd love to see any kind of skewed continuous distribution (e.g., a Skewed-T distribution). That's currently an area where existing uncertainty-supporting GBDT models (ngboost, catboost, xgboost-distribution) are lacking. I've tried to add this to Ngboost before, but unfortunately the math is over my head.

For context, I am the creator of the DARKO basketball projection system, and I freque

[2021-11-16 22:52] bryorsnef commented on #7
Have you thought of using reticulate to just link to the python package?

Also, I would love to see beta and gamma distributions. I was interested in using XGBoostLSS in multiple imputation by chained equations, and having a good distribution for imputing positively only and bounded variables would be great.

[2021-11-17 07:11] StatMixedML commented on #7
@kmedved Great honor to see XGBoostLSS being used as a potential model at DARKO!

Since I don't know the characteristics of your data, do you have any specific skewed Student-t in mind, since there are numerous ways of implementing it. Also, there are a number of other skews distributions available that might fit your data well.

Would you need a continuous distribution defined on -infty < y < inf

[2021-11-17 07:16] StatMixedML commented on #7
@bryorsnef Using the reticulate package is a great idea! Thanks for the suggestion.

However, before I release an R version, I plan to extend the functionality of the package first, such as adding more distributions, such as your suggestions (beta, gamma). But I strongly encourage you to open a pull request, adding the reticulate extension!

I try to be as responsive as possible to any user reques

[2021-11-17 08:14] #7 closed

[2021-11-27 12:32] StatMixedML commented on #7
@kmedved @wrkhard  I have added the Box-Cox T distribution that is defined for y>0 and also allows for skewness and kurtosis.

[2021-11-29 02:32] kmedved commented on #7
Thank you @StatMixedML - that's very exciting (apologies for the delay responding). My target data is mostly positive, or can be transformed easily to being positive, so a Box-Cox distribution may work well. I had previously been experimenting with trying to implement a Skew-T distribution via NGBoost, but ran into issues making it work, but this may work.

I will do some testing this week and rep

[2021-11-29 08:07] StatMixedML commented on #7
@kmedved Since XGBoostlSS heavily relies on gradients and hessians, you may want to scale your target data y before training to stabilize the gradient/hessian estimation. It can be somehting very simple, say ```y/10``` or ``y/100```. This allows you to easily re-normalize the predictions afterwards and to keep the gradient/hessian bounded. Let me know if this helps.

[2021-11-30 13:44] StatMixedML commented on #7
@kmedved I have added a stabilization function for the estimation of Gradients and Hessians and also updated all distributions accordingly.

[2021-12-31 06:49] TheRealSalmon opened #9 "xgboostlss.predict() only gives results for pred_type="parameters""
I'm following the examples. Everything else works correctly but for some strange reason, when I get to the cell where it makes predictions, I always get the output for pred_type="parameters". I would greatly appreciate any help on this matter.

Thank you!

[2021-12-31 07:30] StatMixedML commented on #9
@TheRealSalmon Thanks for raising this issue. Let me look into this and come back to you.

[2021-12-31 07:43] StatMixedML commented on #9
@TheRealSalmon Can you please re-try and let me know. Problem should be fixed now.

[2022-01-02 12:54] #9 closed

[2022-01-22 11:59] mathijs02 opened #10 "XGBoostLSS for uncertainty estimation in binary classification"
Hi,

Thanks for creating the XGBoostLSS (and LightGBMLSS) package, this an important extension to ML algorithms that only provide point estimates for the mean.

I have a question, or thought, about capturing uncertainty for binary classification. I would be interested in estimating the uncertainty in the model score in a binary classification, as a consequence of the amount of data that the algori

[2022-01-22 13:46] StatMixedML commented on #10
@mathijs02 Thanks for posting this very interesting question!

This is correct. So far, the beta is implemented only if the response variable ```y``` is beta distributed. In principle, for any parametric distribution with parameter vector ß, XGBoostLSS is able to estimate and return all parameters. Hence, we need to make sure we can transform your problem into a suitable distribution with log-like

[2022-01-24 21:25] mathijs02 commented on #10
That was indeed my initial thought. The more I think of it, the less this line of reasoning seems to go anywhere. The issue, I think, is that the likelihood for classification with a Beta distribution is calculated on a set of instances. This is in contrast with other common loss functions, which are calculated on a per-instance basis. For example, if in a leaf there is a set of negative (*a*) and

[2022-01-25 07:38] #10 closed

[2022-02-14 15:09] edgBR opened #11 "Feature request: Support Tweedie Distribution"
Dear colleagues,

According to the docs:

![image](https://user-images.githubusercontent.com/14976422/153877751-c7d4c645-b26b-47f8-84fb-936eb3f039be.png)

Gamma distribution is supported but at the end gamma part of the tweedie family.

Alternative packages already implement this as for instance:

https://github.com/CDonnerer/xgboost-distribution/

BR
E

[2022-02-14 18:57] StatMixedML commented on #11
Yes correct. One needs to specify a distribution in the first place.

Since I haven't seen the data, I can only speculate on this. But the Negative Binomial is a good choice for count data with many 0s. You may want to try it as an alternative. If this is not working (let me know!), I can also add a Zero-Inflated Negative Binomial, since this is a conceptually more easy than implementing the Tweed

[2022-02-15 13:19] StatMixedML commented on #11
Hi @edgBR,

Ok I see. The negative binomial might then not be a suitable assumption.

I am aware of this approach and this reads like a viable approach for your problem. However, I have some problems with this since you need to estimate two models, one for the 0-part and another one for the non-0-part. More elegantly, you can do the same with a single zero-inflated model. This allows then to also

[2022-02-15 16:15] StatMixedML commented on #11
Hi @edgBR ,

thanks for your detailed answer. I was also to suggest using XGBoostLSS expectile estimation. Let me know how this is going.

[2022-02-15 16:33] edgBR commented on #11
@StatMixedML

For the moment I am getting to wide confidence intervals and the most problematic thing is that the lower bounds contains negative values. Is there a way to put a cap in the expectiles?

[2022-02-15 19:05] StatMixedML commented on #11
@edgBR I am afraid there is none, except that you need to manually clip to negative values with 0

[2022-02-15 22:04] edgBR commented on #11
@StatMixedML understood.

Would it be possible if you could describe what are the implementation challenges of the tweedie distribution? Is the gradient calculation with autograd the problem?

BR
E

[2022-02-16 07:35] StatMixedML commented on #11
@edgBR There is conceptually no problem wit the Tweedie. It has been on my list for some time now. It is just that I haven't spend time on looking into it. Do you know of any PyTorch implementation of the Tweedie?

[2022-02-16 07:59] edgBR commented on #11
@StatMixedML a couple of weeks ago I found this in one of the discussions in the gluon-ts github:

https://discuss.pytorch.org/t/custom-tweedie-loss-throwing-an-error-in-pytorch/76349/6

Maybe this is helpful?

[2022-02-16 08:01] StatMixedML commented on #11
@edgBR I am aware of this, but I need to check if that is the correct density for the Tweedie. Do you know which density XGBoost is using?

[2022-02-16 08:42] edgBR commented on #11
Hi @StatMixedML,

Unfortunatelly I am unaware of what XGBoost is using underneath.

The traces in the code point me here:

https://github.com/tonydifranco/xgboost/blob/4f6d4eaac58c2d93671dbd827acc606b7e8fedf9/src/objective/regression_obj.cc

(Line 285 and beyond) but there I can only find the gradient and the hessian.

In any case this seems like a good implementation of all parameters: https://gi

[2022-02-16 09:21] StatMixedML commented on #11
@edgBR Thanks for sharing. Looks good!

I am currently working on a different project, but you can try try implementing the tweedie with the autograd yourself and open a PR once working.

[2022-02-16 11:47] edgBR commented on #11
Hi @StatMixedML

Could you maybe facilitate a list of changes that need to be implemented in order to incorporate the tweedie?

If I understood correctly we need:

- AutoGrad Gradient Calculation for each of the parameters
- AutoGrad Hessian Calculation for each of the parameters
- The parameters list for the tweedie distribution (in this case mu, sigma and power between 1 and 2 as you already imp

[2022-02-17 10:08] StatMixedML commented on #11
@edgBR Besides the things you've mentioned, you would also need

- [Parameter Dictionary](https://github.com/StatMixedML/XGBoostLSS/blob/master/xgboostlss/distributions/Gaussian.py#L39)
- [Inverse Parameter Dictionary](https://github.com/StatMixedML/XGBoostLSS/blob/master/xgboostlss/distributions/Gaussian.py#L52)
- [Starting Values](https://github.com/StatMixedML/XGBoostLSS/blob/master/xgboostlss/

[2022-02-24 10:37] hrkadkhodaei opened #12 "large scale values for NBI distribution"
Hi,

Thank you for creating XGBoostLSS.
I have a question, When I set the distribution to "NBI" (Negative Binomial) and make predictions for some samples, I see that the scale parameter is always the same for all samples and it is greater than zero (for example, 88). I suppose that for negative binomial, scale is equal to 1/n and because n>0 it should be less than 1 for most of the time.

Do I hav

[2022-03-04 07:20] StatMixedML commented on #12
Closing this for now but feel free to re-open if the problem still persists.

[2022-03-04 07:20] #12 closed

[2022-03-04 07:20] StatMixedML commented on #11
@edgBR Kindly asking for an update. Did you manage to implement the loss?

[2022-03-04 07:56] edgBR commented on #11
Hi @StatMixedML

Unfortunately not and I have decided to take a new path using MAPIE: https://mapie.readthedocs.io/en/latest/examples_regression/index.html

plus XGBoost with Tweedie loss.

BR
Edgar

[2022-03-04 09:40] StatMixedML commented on #11
@edgBR Thanks for your feedback and for the MAPIE, looks interesting indeed.

[2022-03-04 23:19] goleng opened #13 "Question on scaling to large dataset"
Hi Alexander, thanks for this incredible work. I really like this package; it's really helpful in situations where providing point forecast is not enough.

However, I'm curious about scaling to large dataset. Please pardon my ignorance. I've seen the examples in the notebook section but the datasets used isn't much.

So, my question is, does the current implementation works in similar fashion as t

[2022-03-05 07:17] StatMixedML commented on #13
@goleng Thanks for your interest.

Concerning your questions:

XGBoostLSS is a wrapper around the xgboost implementations. That is why XGBoostLSS comes with the same functionality as xgboost. The only requirements are that dask etc. support using custom evaluation and loss functions. If that is true you can use any of your suggestions.

[2022-03-06 01:04] goleng commented on #13
@StatMixedML Thank you for the clarification, much appreciated.

[2022-03-06 01:04] #13 closed

[2022-03-09 10:26] dlewis-esure opened #14 "Beta distribution - 0 log-likelihood, 'mean of empty string' message"
Hello! Been exploring your package for a predictive modelling project, and think I've found an issue? Either that or I've missed something important I need to do, but either way it's not working. Basically, whenever I try to train a model using a beta distribution as the output, I get log-likelihoods of 0 every time. I've put reproducible code below, using the sklearn diabetes regression toy datas

[2022-03-09 12:43] StatMixedML commented on #14
Hi @dlewis-esure,

thanks for your interest and the detailed MWE.

The Beta-Distribution is appropriate for, e.g., percentage values or more generally speaking for responses that are in (0,1). Checking your response, however, is far from this :-).

[code]

[2022-03-09 12:45] dlewis-esure commented on #14
Hi there - this was just a dummy example, to show the behaviour, the real data I'm using (that I can't share with you for privacy and protection reasons) is definitely beta distributed, but exhibits exactly the same behaviour...

[2022-03-14 07:44] StatMixedML commented on #14
Sorry for the late reply. I would need some time to look into it. I am currently not very responsive.

[2022-03-16 10:29] dlewis-esure commented on #14
Hi, no problem - it's not urgent, so take your time!

The output I get is below:

![image](https://user-images.githubusercontent.com/99661156/158570093-95ebf217-9332-4350-94b5-015808c1e1b4.png)

This is the same for both my real data and the dummy example dataset from above.

[2022-03-18 06:25] DaanFerdinandusse opened #15 "Out of MemoryError"
Hi, I'm trying to train the XGBLSS on the m5 dataset but I keep on getting out of MemoryError with the hyper_opt method. Is there a parameter to reduce the amount of memory used for this method?

[2022-03-19 07:28] StatMixedML commented on #15
@DaanFerdinandusse Thanks for your interest.

Indeed, using cross-validation in combination with the M5 data can easily lead to OOM. I am afraid there is not one parameter to alleviate the problem.

One thing you can try is to using distributed training via [Dask](https://xgboost.readthedocs.io/en/stable/tutorials/dask.html) or [Ray](https://xgboost.readthedocs.io/en/stable/tutorials/ray.html). It

[2022-03-21 01:46] DaanFerdinandusse commented on #15
Hey @StatMixedML, Thank you for your response. I will try out the methods you suggested :)

[2022-03-21 15:32] StatMixedML commented on #14
@dlewis-esure I believe I found the problem. It was with the initialization. Can you please try the following:

[code]

[2022-03-24 10:15] dlewis-esure commented on #14
Hi, sorry, been absolutely snowed under with work this week - I'll give this a go as soon as I can and get back to you! Really appreciate your speed on this :)

[2022-04-01 14:51] dlewis-esure commented on #14
Hi there - sorry this has taken so long, some urgent work popped up that's kept me distracted. Yes, this new initialisation method does do the trick, thank you! I can train a model - now I just need to tune the hyperparameters...

[2022-04-02 09:27] StatMixedML commented on #14
Ok nice! Let me know in case you need additional input.  I will also update the beta-distribution accordingly

I close this issue for now.

[2022-04-02 09:27] #14 closed

[2022-05-31 08:50] StatMixedML commented on #13
@edgBR Yes correct, it is a wrapper around XGBoost, so that you have access to all its functionalities. The only requirements are that _gpu_hist_ supports using custom evaluation and loss functions. If that is true you can use it.

[2022-06-01 12:09] edgBR opened #17 "Serialization issue"
Dear Alexander,

We are now comparing MAPIE confidence intervals to a custom methodology we have created based on the XGBoostLSS.

Basically we are using the expectiles that XGBoostLSS provides us to fit a CDF that is an approximation to a tweedie CDF. (This is a bit hacky but we are getting theoretical coverage).

The problem is that we are splitting this procedure in 2 parts and we are using the

[2022-06-01 14:30] kevinmickey opened #18 "Bump versions and tag them"
With active development, it may be helpful to bump the version after significant changes, and tag them. This will also help in publishing to pypi.

Let me know if you would like any assistance with this.

[2022-06-01 14:32] kevinmickey opened #19 "Publish to PyPi"
For distribution, it would be very helpful to publish to PyPi. A likely pre-requisite is tagging versions (see #18).

Let me know if you would like any assistance with this.

[2022-06-01 17:32] StatMixedML commented on #19
@kevinmickey Thanks for raising the issue. Very much appreciate your support on this, since I currently find little time to further develop the repo.

[2022-06-01 17:32] StatMixedML commented on #18
@kevinmickey Thanks for raising the issue. Very much appreciate your support on this, since I currently find little time to further develop the repo.

[2022-06-01 17:37] StatMixedML commented on #17
@edgBR Thanks for raising the issue.

It seems like the problem is with the [starting values](https://github.com/StatMixedML/XGBoostLSS/blob/master/xgboostlss/distributions/Expectile.py#L74).

Does the problem occur for the predict function only or also during model training?

[2022-06-02 07:10] edgBR commented on #17
Hi @StatMixedML

This only happens when I save the model as joblib and I load it again to make predictions.

When training and predicting within the same session/notebook etc... Everything works as expected.

Unfortunately I do not see how ray can help here. Do you have an example where you save the model and load it again to make predictions?

BR
Edgar

[2022-06-02 11:22] edgBR commented on #17
Ey,

Yes, please find attached:

[code]

Now we close our session and we restart a new one and we run:
[code]

[code]

Looking to the code we are trying now to initialize the start values as:

`distribution.start_values = [np.mean(target_train), np.mean(target_train)]`

But we are wondering if this is the right way.

[2022-06-02 11:45] edgBR commented on #11
Hi @StatMixedML

Please reopen this.

I found an implementation of tweedie estimation in python which is validated with the R one:

https://github.com/thequackdaddy/tweedie/blob/master/tweedie/tweedie_dist.py

Migrating this to autograd might be easier that expected.

BR
E

[2022-06-02 12:40] StatMixedML commented on #11
@edgBR Thanks for sharing, need to look into the details of the implmentation though first.

[2022-06-02 13:08] StatMixedML commented on #17
@edgBR The following fixes the problem

[code]
The only thing I changed, compared to your suggestion, is `distribution.start_values = distribution.initialize(dtrain.get_label())
`. The issue stems from [this](https://github.com/StatMixedML/XGBoostLSS/blob/master/xgboostlss/model.py#L85), i.e., starting values are initialized during model training only, and hence not available after you re-load the

[2022-06-02 14:24] edgBR commented on #17
Hi,

This works but this is very hacky imho. My suggestion would be to not return a booster object in xgboostlss.train. Instead we can return a custom class where inside the self we have the booster and also the distribution object.

What do you think?

[2022-06-02 14:26] edgBR commented on #11
Hi @StatMixedML I have requested my manager to put some time on this.

So most likely yes :)

[2022-06-02 17:30] StatMixedML commented on #11
@edgBR If you want to use PyTorch's autograd, you would first need to translate all functions into pytorch function using tensors. Otherwise, pytorch cannot create the computational graph to calculate derivatives.

[2022-06-02 17:31] StatMixedML commented on #17
@edgBR Having a dedicated XGBoostLSS class is also my preferred option. Yet, I haven't had time to do that...

[2022-06-05 08:18] StatMixedML commented on #17
Closing the issue for now, using the interim solution.

[2022-06-05 08:18] #17 closed

[2022-06-05 08:19] StatMixedML commented on #19
Closing the issue for now.

[2022-06-05 08:19] #19 closed

[2022-06-05 08:19] StatMixedML commented on #18
Closing the issue for now.

[2022-06-05 08:19] #18 closed

[2022-06-23 16:34] markpearl opened #20 "Model Tuning: Validation Metric"
I'm looking into the code for the xgboostlss class and it seems like the validation metric is hardcoded to use negative log-likelihood. Is there going to be flexibility to define the validation metric chosen? (i.e. MAE, etc.)

As of now my tuning process is returning inf for each trial.

[2022-06-23 19:18] StatMixedML commented on #20
@markpearl Thanks for your interest in the project.

For any model to learn all the distributional parameters, it is essential to use a pre-specified loss, which in most cases is the nll. As such, since we want to learn the full distribution, a point-loss metric, such as MAE/MSE is not currently planned to be. Yet, you can derive any point measure, such as the MAE from the forecasted distribution.

[2022-06-27 19:37] markpearl commented on #20
@StatMixedML my confusion with that is nll is typically used for binary or multi-class classification, whereas my problem area is regression. I agree MAE can be derived from the test dataset during the inference process, but I think it would be confusing to interpret log likelihood as part of the training process, how do I know what value of nll forms a baseline that I can iterate from? In section

[2022-06-30 14:15] StatMixedML commented on #20
@markpearl At the end of each hyper-parameter tuning, you receive a short summary

![image](https://user-images.githubusercontent.com/41187941/176699929-b3bf2d04-05d1-45cc-ae21-31e0c339274d.png)

This also includes the minimum average nll value across all k-folds. You can easily add the information, as shown in line 292 ff.

[2022-07-01 12:22] StatMixedML commented on #20
@markpearl You can use the internal `eval` function of xgboostlss. After hyper-parameter-otpimization, you use the optimal parameters and train the model on the train data. In addition, you can use an evaluation dataset on which the model evaluates the nll. The code is adapted from the example section and you would need to adjust the evaluation set.

[code]
The output woudl would look like this

!

[2022-07-04 23:29] ahbon123 opened #21 "Choose values of loc, scale, etc. for norm.ppf"
Helllo, may I ask a question regarding **Plot of Actual vs. Predicted Quantiles** part in this link: [https://github.com/StatMixedML/XGBoostLSS/blob/master/examples/simulation_example_Gaussian.ipynb](url),
How could we choose values for loc, scale, etc.?  Thanks.
`norm.ppf(quant_sel[0], loc = 10, scale = 1 + 4*((0.3 < test["x"].values) & (test["x"].values < 0.5)) + 2*(test["x"].values > 0.7))`

[2022-07-05 14:07] markpearl commented on #20
Awesome thanks for this!!

[2022-07-06 10:03] StatMixedML commented on #21
@ahbon123 Thanks for your interest.

Since you are referring to the simulation example, the data is a simulated Gaussian as follows, where x is the only true feature and all others are noise variables
    # loc = 10
    # scale = 1 + 4*((0.3 < x) & (x < 0.5)) + 2*(x > 0.7)

[2022-07-06 13:28] KiwiAthlete commented on #20
@markpearl Hope this solves your issue. Can we close it?

[2022-07-06 15:28] markpearl commented on #20
Yes! One last question I had Alex was around the use of Expectile regression. I seem to be getting NLL values of 14-17k, so I'm assuming it's safe to say that a probabilistic distribution would not be effective in my case.

Would expectile give me good results to create prediction intervals for my case? Knowing that my distribution is so skewed?

[2022-07-06 15:55] markpearl commented on #20
On top of this question, if I decided to use a probabilistic distribution such as BCT or Student-T, how would I be able to get the prediction interval results on a per observation basis for inference? I tried to use the pred_type as 'quantiles', and specific the quantiles as quant_sel = [0.05,0.10,0.20,0.30,0.40,0.60,0.70,0.80,0.95], but it gave me static results. Would I be able to use the pred_t

[2022-07-09 08:26] #21 closed

[2022-07-09 08:31] StatMixedML commented on #20
I would agree. Given the heavy skewness, modelling the data without transformations would give any parametric model a hard time, especially when it comes to model stability.

You can definitely give it a try. Just recall that for tau=0.5, expectiles equal mean regression, assuming a Gaussian distribution. What is known from the literature is that Expectile intervals tend to be usually a little nar

[2022-07-09 08:32] StatMixedML commented on #11
@edgBR Kindly asking for an update on this. Need advise / help?

[2022-07-12 19:50] #20 closed

[2022-07-13 15:32] #11 closed

[2022-08-07 16:50] mengyaoji opened #23 "Constant prediction parameters"
When I try to use BCT distribution for a dataset, the resulting prediction parameters (location, nu, tau) are all constant. I believe nu, tar are their initial values (0.5,10). Only scale changes like the example with Gaussian distribution. I am wondering what does this mean?

The parameters I used for training are:
`
Best trial:
  Value: 125.35836839999999
  Params:
    eta: 0.040946512023655214

[2022-08-09 19:44] StatMixedML commented on #23
Dear @mengyaoji,

thanks for the interest in the project.

What you describe is indeed an odd behaviour. The hyper-parameters don't seem to be too odd. It is difficult to say what the problem is. Can you maybe provide a minimum working example with a data snippet?

[2022-08-10 02:17] mengyaoji commented on #23
Many thanks for your prompt reply. A bit more information, I tried to scale y using y/100. The location is now no longer constant. But nu and tau are still the initial values. My data is quite large, I will try to see if I can reduce the data and build a minimum working example. One thing special for my data is I have many more features than the number of samples. The data have ~5000 columns but o

[2022-08-10 19:28] StatMixedML commented on #23
@mengyaoji A minimum working example would be great. We can use this also as an example how to use the distribution. You don't need to provide the full dataset with all columns, but a subset would be enough. Important is that the data has full rows.

[2022-08-14 02:36] mengyaoji commented on #23
Unfortunately, the data I am using now cannot be shared. Let me find a similar dataset to reproduce the problem. Thanks for your help.

[2022-08-16 15:10] StatMixedML commented on #23
@mengyaoji You may also want to try using a normalization `distribution.stabilize = "MAD"`. Since XGBoostLSS updates the parameter estimates by optimizing Gradients and Hessians, it is important that these are comparable in magnitude for all distributional parameters. Due to variability regarding the ranges, the estimation of Gradients and Hessians might become unstable so that XGBoostLSS might no

[2022-08-26 15:11] StatMixedML commented on #23
@mengyaoji Kindly asking if there is any update on this you can share?

[2022-09-02 13:29] #23 closed